.woocommerce_options_panel .options_group h3.wcssb-product-options-title {
	font-size: 1em;
	padding: 20px 20px 5px 12px;
	margin: 0;
}

.woocommerce_options_panel .options_group .wcssb-products-wrap {
	padding: 0 20px 0 12px;
	margin-bottom: 20px;
}

ul.wcssb-products {
	list-style-type: none;
	margin: 12px 0 0 0;
	padding: 0;
}

li.wcssb-product-row {
	list-style-type: none;
	margin: 0 0 12px 0;
	padding: 0;
	background-color: #fff;
	border: 1px solid #eee;
}

.wcssb-product-row-head {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	display: table;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: move;
	width: 100%;
	max-width: 100%;
}

.wcssb-product-row-head-title-wrap {
	flex: 1 1 auto;
	width: 85%;
}

.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field {
	margin: 5px 0 9px 0;
}

.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field label {
	font-weight: bold;
	padding-top: 4px;
}

.woocommerce_options_panel .wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field .select2-container {
	max-width: 100%;
}

.woocommerce_options_panel .wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field .select2-container .description {
	margin-left: .25em;
}

.wcssb-remove-product-row {
	text-align: right;
	margin: 0 12px 0 12px;
	flex: 0 0 auto;
	color: red;
	cursor: pointer;
	opacity: 0;
}

li.wcssb-product-row:hover .wcssb-remove-product-row {
	opacity: 1;
}

.wcssb-product-row-body {
	margin: 0;
	padding: 1px 0;
	background-color: #fdfdfd;
}

.woocommerce_options_panel .options_group .wcssb-products-wrap:after {
	content: '';
	display: table;
	clear: both;
}

@media only screen and (max-width: 1280px) {

	.woocommerce_options_panel .wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field .select2-container .description {
		display: inline;
		clear: none;
	}

	.wcssb-product-row-head-title-wrap {
		width: 75%;
	}

}

@media only screen and (max-width: 1025px) {

	.wcssb-product-row-head-title-wrap {
		width: 70%;
	}

	.wcssb-remove-product-row {
		font-size: .75em;
		margin: 0 8px 0 8px;
	}

	.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field {
		padding-left: 112px !important;
	}

	.woocommerce_options_panel .wcssb-product-row-head-title-wrap label {
		width: 100px;
		margin-left: -100px;
	}

}


@media only screen and (max-width: 850px) {

	.wcssb-remove-product-row {
		font-size: 1em;
		margin: 0 12px 0 12px;
	}

	.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field {
		padding-left: 162px !important;
	}

	.woocommerce_options_panel .wcssb-product-row-head-title-wrap label {
		width: 150px;
		margin-left: -150px;
	}

}

@media only screen and (max-width: 600px) {

	.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field {
		padding-left: 112px !important;
	}

	.woocommerce_options_panel .wcssb-product-row-head-title-wrap label {
		width: 100px;
		margin-left: -100px;
	}

}

@media only screen and (max-width: 500px) {

	.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field {
		padding-left: 20px !important;
	}

	.woocommerce_options_panel .options_group h3.wcssb-product-options-title {
		padding-left: 20px;
	}

	.wcssb-remove-product-row {
		opacity: 1;
	}

	.wcssb-product-row-head-title-wrap p.form-field.wcssb_row_product_id_field label {
		width: 100%;
		margin: 0 0 4px 0;
	}

	.wcssb-remove-product-row {
		font-size: .75em;
		margin: 0 8px 0 8px;
	}

}
